@charset "UTF-8";
#abrir-menu {
    display: none;
}
#fechar-menu {
    display: none;
}
#overlay {
    display: none;
}
#home {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 4.0em;
    color: white;
}
#racing {
    grid-area: 1 / 2 / 2 / -1;
    font-size: 4.0em;
    color: white;
}
header {
    height: unset;
    grid-template: unset;
    grid-template-columns: 1fr 1fr;
}
#menu {
    grid-area: 2 / 1 / 3 / -1;
    flex-flow: row wrap;
    justify-content: space-between;
    position: static;
    width: unset;
    height: unset;
    border-radius: unset;
}