@charset "UTF-8";
#abrir-menu {
    display: none;
}
#fechar-menu {
    display: none;
}
#overlay {
    display: none;
}
#home {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 4.0em;
    color: white;
}
#racing {
    grid-area: 1 / 2 / 2 / -1;
    font-size: 4.0em;
    color: white;
}
header {
    height: unset;
    grid-template: unset;
    grid-template-columns: 1fr 1fr;
}
#menu {
    grid-area: 2 / 1 / 3 / -1;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: static;
    width: 100%;
    height: unset;
    border-radius: unset;
    padding: 5px;
    gap: unset;
}
.verde:hover {
    color: black;
}
.verde-claro:hover {
    color: black;
}
.verde-escuro:hover {
    color: black;
}
#wec {
    background-position: right center;
}
.grid {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
.primeira-posicao {
    grid-area: 1 / 1 / 2 / 2;
}
.segunda-posicao {
    grid-area: 1 / 2 / 2 / -2;
}
.terceira-posicao {
    grid-area: 1 / -2 / 2 / -1;
}
#destaque-categoria > h1, h2 {
    padding-left: 200px;
}