@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: google, sans-serif;
}
@font-face {
    font-family: 'google';
    src: url('../fontes/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf') format('truetype');
}
header {
    height: 100px;
    display: grid;
    grid-template: 50px 50px / 1fr 3fr 3fr 1fr;
    place-items: center center;
    background-image: url(../imagens/daytona-header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
}
#home {
    font-variant: small-caps;
    grid-area: 1 / 2 / 2 / -2;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}
#racing {
    font-variant: small-caps;
    grid-area: 2 / 3 / -1 / -1;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}
i {
    font-size: 2em;
    grid-area: 1 / 1 / -1 / 2;
    color: rgb(0, 255, 0);
}
#titulo-main {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0px;
}
.grid {
    height: 400px;
    display: grid;
    grid-template: 200px 200px / 1fr 1fr;
    place-items: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 0px black;
}
.borda {
    border-radius: 15px;
    overflow: hidden;
}
#imsa {
    background-image: url(../imagens/imsa.jpeg);
    background-position: right bottom;
}
#imsa-logo {
    width: 150px;
    grid-area: 2 / 2 / -1 / -1;
}
#daytona-24 {
    width: 100px;
    grid-area: 1 / 2 / 2 / -1;
}
.display {
    color: white;
    font-style: italic;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0, 255, 0);
}
#wec {
    background-image: url(../imagens/wec.jpg);
    background-position: right bottom;
}
#le-mans-24 {
    width: 100px;
}
#wec-logo {
    width: 130px;
    grid-area: 2 / 1 / -1 / 2;
}
#motogp {
    background-image: url(../imagens/motogp.jpg);
    background-position: center bottom;
}
#gp-brasil-motogp {
    width: 150px;
}
#motogp-logo {
    width: 170px;
}
#gtw {
    background-image: url(../imagens/gtw.jpg);
    background-position: center bottom;
}
#spa-24 {
    width: 150px;
    grid-area: 2 / 2 / -1 / -1;
}
#gtw-logo {
    width: 130px;
    background-color: rgba(255, 255, 255, 0.3);
}
#txt-gtw {
    grid-area: 2 / 1 / -1 / 2;
}
#f1 {
    background-image: url(../imagens/f1.jpg);
    background-position: center bottom;
}
#f1-logo {
    width: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
}