@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: google, sans-serif;
}
@font-face {
    font-family: 'google';
    src: url('../fontes/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf') format('truetype');
}
h1 {
    font-variant: small-caps;
}
