@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: google, sans-serif;
}
@font-face {
    font-family: 'google';
    src: url('../fontes/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf') format('truetype');
}
body {
    background-color: black;
}
header {
    position: sticky;
    top: 0px;
    height: 100px;
    display: grid;
    grid-template: 50px 50px / 1fr 3fr 3fr 1fr;
    place-items: center center;
    background-image: url(../imagens/daytona-header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
}
#menu {
    position: fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 70vh;
    background-color: white;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    transition: all 0.5s ease-out 0.2s;
    padding: 10px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
#fechar-menu {
    cursor: pointer;
    transform: translateX(100px);
}
#home {
    font-variant: small-caps;
    grid-area: 1 / 2 / 2 / -2;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}
#racing {
    font-variant: small-caps;
    grid-area: 2 / 3 / -1 / -1;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}
#abrir-menu {
    font-size: 2em;
    grid-area: 1 / 1 / -1 / 2;
    color: rgb(0, 255, 0);
    cursor: pointer;
}
#titulo-main {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0px;
}
.grid {
    height: 400px;
    display: grid;
    grid-template: 200px 200px / 1fr 1fr;
    place-items: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 0px black;
    margin-bottom: 15px;
}
.borda {
    border-radius: 15px;
    overflow: hidden;
}
.posicao-grid {
    grid-area: 1 / 1 / 2 / -1;
}
#imsa {
    background-image: url(../imagens/imsa.jpeg);
    background-position: right bottom;
}
#imsa-logo {
    width: 150px;
}
#daytona-24 {
    width: 100px;
}
.display {
    color: white;
    font-style: italic;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0, 255, 0);
}
#wec {
    background-image: url(../imagens/wec.jpg);
    background-position: right bottom;
}
#le-mans-24 {
    width: 100px;
}
#wec-logo {
    width: 130px;
}
#motogp {
    background-image: url(../imagens/motogp.jpg);
    background-position: center bottom;
}
#gp-brasil-motogp {
    width: 150px;
}
#motogp-logo {
    width: 170px;
}
#gtw {
    background-image: url(../imagens/gtw.jpg);
    background-position: center bottom;
}
#spa-24 {
    width: 150px;
}
#gtw-logo {
    width: 130px;
    background-color: rgba(255, 255, 255, 0.5);
}
#f1 {
    background-image: url(../imagens/f1.jpg);
    background-position: center bottom;
}
#gp-sao-paulo-f1 {
    width: 170px;
}
#f1-logo {
    width: 130px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}
#nascar {
    background-image: url(../imagens/nascar.jpg);
    background-position: left bottom;
}
#nascar-logo {
    width: 190px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
#daytona-500 {
    width: 170px;
}
#indy {
    background-image: url(../imagens/indy.jpg);
    background-position: center bottom;
}
#indy-logo {
    width: 150px;
}
#indy-500 {
    width: 150px;
}
#adac {
    background-image: url(../imagens/adac.jpg);
    background-position: center bottom;
}
#adac-logo {
    width: 150px;
}
#nurburgring-24 {
    width: 160px;
}