@charset "UTF-8";
#home {
    font-variant: small-caps;
    grid-area: 1 / 2 / -1 / 3;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    color: white;
}
#racing {
    font-variant: small-caps;
    grid-area: 1 / 3 / -1 / -2;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    color: white;
}