@charset "UTF-8";
#home {
    grid-area: 1 / 2 / -1 / 3;
    font-size: 3em;
    color: white;
    transform: translateY(-10px);
}
#racing {
    grid-area: 1 / 3 / -1 / -2;
    font-size: 3em;
    color: white;
    transform: translate(-20px, 10px);
}