@charset "UTF-8";
#home {
    grid-area: 1 / 2 / -1 / 3;
    font-size: 3em;
    color: white;
    transform: translateY(-10px);
}
#racing {
    grid-area: 1 / 3 / -1 / -2;
    font-size: 3em;
    color: white;
    transform: translate(-20px, 10px);
}
.grid {
    height: 500px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
.primeira-posicao {
    grid-area: 1 / 1 / 2 / 2;
}
.segunda-posicao {
    grid-area: 2 / 1 / -2 / 2;
}
.terceira-posicao {
    grid-area: -2 / 1 / -1 / 2;
}